.family-input-data-field {
	font-size: 20px;
	font-weight: 600;
	color: #CC3399;
	height: 30px;
}

.family-input-data-field2 {
	font-size: 20px;
	font-weight: 600;
	color: #CC3399;
	height: 30px;
	width: 200px;
}

#familyname {
	position: absolute;
	left: 150px;
	background:pink;
	text-indent: 5px;
	height: 22px;
	font-weight: 600;
	width: 100px;
}


#headcount {
	position: absolute;
	left: 150px;
	background:pink;
    width: 170px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:600;
    color:#fff;
    line-height: 1;
    border: 0;
    border-radius: 10;
    height: 22px;
    -webkit-appearance: none;
 }
 
#senior {
	position: absolute;
	left: 150px;
	background:pink;
    width: 170px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:600;
    color:#fff;
    line-height: 1;
    border: 0;
    border-radius: 10;
    height: 22px;
    -webkit-appearance: none;
 }
 
 #children {
	position: absolute;
	left: 150px;
	background:pink;
    width: 270px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:600;
    color:#fff;
    line-height: 1;
    border: 0;
    border-radius: 10;
    height: 22px;
    -webkit-appearance: none;
 }
 
#wrapper {
	width: 400px;
	height: 50px;
}
 
#expenses  {
	position: absolute;
	left: 150px;
	background:pink;
	text-indent: 5px;
	height: 22px;
	font-weight: 600;
	color: #fff;
	width: 70px;
	float: right;
}

#tasks  {
	position: absolute;
	left: 150px;
	background:pink;
	text-indent: 5px;
	height: 50px;
	font-weight: 600;
	color: #fff;
	width: 350px;
/*	float: right; */
}

#save-button-holder {
	background-color: #04B431;
	font-weight: 600;
	float: left;
}


