body {
background-image: url('../images/background2.jpg') ;
background-size: cover;
background-repeat: no-repeat;
background-color:#D8D8D8;
}

.headcount {
width: 70px;
}

.senior {
width: 70px;
}

.children {
width: 70px;
}

.expenses {
width: 70px;
}

.sys_message {
/*color: green;*/
border-style: solid green;
border-width:3px ;
height: 30px;
width: 100%;
background-color: green;

}

.sys_error {
/* color: red; */
border-style: solid black;
border-color: black;
border-width:3px ;
height: 30px;
line-height: 30px;
width: 100%;
background-color: red;
vertical-align: middle;
}

















#menu { 
font-family: Arial;
font-weight: bold;
height: 30px; 
background-color:#A4A4A4; 
text-transform:uppercase;
vertical-align: middle; 
}

#menu_last_item { position:fixed; right: 15px;}

#profile_pos { position:fixed; right: 100px;}

#post_modified {
font-size: 12px; 
color:#585858;
}